<div class="auth-login-signup">
  <div class="bcg-auth">

    <h4 class="login-auth">SIGNUP</h4>

    <form action="/signup" method="POST" id="form-container">
      <div>
        <label for="username">Username</label>
        <input data="commit" id="username" type="text" name="username" placeholder="Your name">
      </div>
       <div>
        <label for="email">Email</label>
        <input data="commit" id="email" type="text" name="email" placeholder="Your email">
      </div>
      <div>
        <label for="password">Password</label>
        <input data="commit" id="password" type="password" name="password" placeholder="Your password">
      </div>
      {{!-- <label for="role">Role</label>
  <select name="role">
    <option value="adm">ADM</option>
    <option value="user">USER</option>
  </select> --}}
      {{#if message}}
      <div class="error-message">{{ message }}</div>
      {{/if}}
      <br><br>

      <button class="btn-auth-social">Create account</button>

      <p class="account-message">
        Do you already have an account?
        <a class="btn-auth-social-login" href="/login">Login</a>
      </p>
    </form>