{{!-- //APENAS USER TEM ACESSO --}}
<p>Olá, {{user.username}}</p>
{{#if isUser}}
<a href="user/commit"><button>Commit to us</button></a>
{{/if}}

{{!-- //APENAS ADM TEM ACESSO --}}
{{#if isAdm}}
<a href="adm/pull"><button>Check pull</button></a>
{{/if}}