<section>
  <div class='about-us'>
    <div class="about-info">
      {{!-- <h1 class="textAbout">Hello</h1> --}}
    </div>
    <h2> Quem somos </h2>
    A XX-Tech acredita que trabalhar nas áreas de tecnologia é, sim, coisa de mulher e, para colaborar com o aumento de
    mulheres trabalhando com tecnologia e encorajar as meninas e mulheres a trabalhar nessa área, criamos esse canal que
    reune diversas informações sobre mulheres e tecnologia.
  </div>
  <h2> Cenário atual </h2>

  Uma pesquisa realizada pelo Todos pela Educação (2015) revelou que a diferença de desempenho em Matemática entre meninos e meninas, no ensino Fundamental é de só 1,8 ponto percentual, porém, no Ensino Médio, ela aumenta para 5,2 pontos e, apesar de abandonarem menos a escola e terem médias melhores, há um desequilíbrio ao longo da jornada escolar das meninas que a fazem piorar o desempenho em disciplinas como matemática. Esse desequilíbrio tem forte relação com o discriminações, explícitas ou não, que reforçam esteriótipos e desistimulam e afastam as meninas das ciências exatas.

  Há uma desigualdade de gênero nas carreiras de ciências exatas e tecnologia. Dados da ONU Mulheres apontam que, no mundo, apenas 18% dos títulos de graduação em Ciência da Computação são de mulheres, que representam 25% da força de trabalho da indústria digital.

  No Brasil, apenas 20% dos mais de 580 mil profissionais de TI que atuam no país, segundo a PNAD/IBGE 2016 (Pesquisa Nacional por Amostra de Domicílio do Instituto Brasileiro de Geografia e Estatística), menor do que a estatística mundial.

  <h2>O que queremos?</h2>

  Mudar o cenário atual!
  Criar um ambiente de acolhimento e fortalecimento para meninas e mulheres que estão trabalhando ou querem trabalhar com tecnologia. Para isso, contamos com a colaboração de todxs que sabem que a força de trabalho feminina á muito valiosa na área da tecnologia. 
  
  <h2>Como você pode colaborar?</h2>

  - Indicando nossa iniciativa para outras pessoas e indicando conteúdo para nosso site. 
  - Enviando material que fale sobre o tema.
  - Fazendo uma auto análise para ver se, consicente ou inconscientemente, você também é um propagador de ideias machistas sobre a participação de mulheres em atividades vinculadas às áreas exatas e da tecnologia e mudando de postura sobre o tema.

</section>