<section class="MainContainer">
  <div class='containerParalax'>
    <div class="ParallaxContainer"></div>
    <div class='inspirationText'>
      <h2 class="quote">
        “Devemos entender que culturalmente, nas áreas técnicas, bloqueamos mulheres e exaltamos homens, isso precisa
        ser mudado”
      </h2>
      <div>
        <a href="/inpiration-bits"><button class="btnB btn_style">Inspiration Bits</button></a>
      </div>
    </div>
  </div>

  <div class="ContentContainer-inspirations">
    <div class="Content-inspirations row">
      <div class="info-inspirations col-sm-4">
        <div class="icon-img">
          <img src="images/ada-lovelace-icon.png">
        </div>
        <div class="icon-text">
          <p>
            <strong>Ada Lovelace (1815 – 1852)</strong> foi uma matemática e escritora inglesa considerada a primeira
            programadora da história!

            Ada foi a pessoa a escrever o primeiro algoritmo a ser reconhecido por
            uma máquina. Esse algoritmo permitia à máquina computar os valores de funções matemáticas assim como
            publicar uma coleção de notas sobre a máquina analítica.
            <br>
            <br>
            <strong><span> <i>“Quanto mais eu estudo, mais insaciável eu sinto meu gênio ser.”</i></span></strong>
          </p>
        </div>
      </div>

      <div class="info-inspirations col-sm-4">
        <div class="icon-img">
          <img src="images/grace-hopper.png">
        </div>
        <div class="icon-text">
          <p>
            <strong>Grace Hopper (1906 – 1992) </strong>. Os feitos da contra-almirante contra-almirante, analista de
            sistemas
            da marinha americana, revolucionaram a
            computação por décadas. Seu trabalho foi pioneiro ao programar o primeiro computador digital de larga escala
            e por criar o primeiro compilador. Um compilador é um programa de sistema que traduz um programa com
            linguagem de alto nível para um equivalente em código de máquina para um processador. Foi esse último que
            abriu caminho para a primeira linguagem de programação que não exigia um grande conhecimento matemático.
            <br>
            <br>
            <strong><span><i>“A frase mais perigosa é: Nós sempre fizemos assim.”</i></span></strong>
          </p>
        </div>
      </div>

      <div class="info-inspirations  col-sm-4">
        <div class="icon-img">
          <img src="images/marie-curie.png">
        </div>
        <div class="icon-text">
          <p>
            <strong> Marie Curie (1897 – 1934) </strong> brilhante cientista polonesa, se formou no ensino médio aos 15
            anos, mas não foi admitida na faculdade pois nesta época não se aceitavam
            mulheres, então, se mudou para Paris para estudar física em Sorbonne.

            Nos estudos sobre radioatividade ela e seu marido, Pierre, descobriram os elementos rádio e polônio. Em 1903
            dividiu o prêmio Nobel de Física com o marido. Em 1911 ganhou o prêmio Nobel de Química pela descoberta dos
            elementos.
            <br>
            <br>
            <strong><span><i>“Na vida não há nada a se temer, apenas a ser compreendido.”</i></span></strong>
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="ContentContainer-yesSheCan ">
    <h2> <a class="title-yesSheCan" href="yes-she-can"> Yes, she can! </a></h2>

    <div class="Content-yes">

      <div class="card-yes col-sm-3">
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Imagem de capa do card">
        <div class="card-body">
          <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo
            do card.</p>
        </div>
      </div>

      <div class="card-yes col-sm-3">
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Imagem de capa do card">
        <div class="card-body">
          <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo
            do card.</p>
        </div>
      </div>

      <div class="card-yes col-sm-3">
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Imagem de capa do card">
        <div class="card-body">
          <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo
            do card.</p>
        </div>
      </div>

      <div class="card-yes col-sm-3">
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Imagem de capa do card">
        <div class="card-body">
          <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo
            do card.</p>
        </div>
      </div>



    </div>
  </div>

  <div class="ContentContainer-linking">
    <h2> <a class="title-linking" href="linking-women"> Linking women </a></h2>
    <div class="content-linking">
      <div class="card-linking col-sm-4">
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Imagem de capa do card">
        <div class="card-body">
          <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo
            do card.</p>
        </div>
      </div>

      <div class="card-linking col-sm-4">
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Imagem de capa do card">
        <div class="card-body">
          <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo
            do card.</p>
        </div>
      </div>

      <div class="card-linking col-sm-4">
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Imagem de capa do card">
        <div class="card-body">
          <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo
            do card.</p>
        </div>
      </div>
    </div>
  </div>
  <section class='ContentContainer-girl-in-formation'>
    <div>
      <h2 id='gif' class="textGif"> Girl In Formation</h2>
    </div>
    <div class="Content-inspirations row">
      <div class='gif-course col-sm-3'>
        <div>
          <a class="icon-img-gif" href='https://www.ironhack.com/br'> <img src="images/ironhack.png"></a>
        </div>
        <div class="icon-text">
          <p>texto aqui</p>
        </div>
      </div>
      <div class='gif-course col-sm-3'>
        <div>
          <a class=" icon-img-gif" href="https://www.programaria.org/cursos/euprogramo/"><img
              src="images/programaria.png"></a>
        </div>
        <div class="icon-text">
          <p>texto aqui</p>
        </div>
      </div>
      <div class='gif-course col-sm-3'>
        <div>
          <a class=" icon-img-gif" href="https://www.laboratoria.la/br"> <img src="images/laboratoria.png"> </a>
        </div>
        <div class="icon-text">
          <p>texto aqui</p>
        </div>
      </div>
      <div class='gif-course col-sm-3'>
        <div>
          <a class=" icon-img-gif" href="https://reprograma.com.br/"><img src="images/reprograma.jpeg"></a>
        </div>
        <div class="icon-text">
          <p>texto aqui</p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <footer width=" 100vw">
      <p class="footer-email"><img src="/images/email.png" height="25px">contato.xxtech@gmail.com </p>
      <div class="footer-devs"> Desenvolvido por <a class='devs' href="https://github.com/mdccbranco">Mônica</a> &
        <a class='devs' href="https://github.com/grazidiandra">Grazi</a></div>
    </footer>
  </section>