<section class = "MainContainer"> 

        <div class="ParallaxContainer">
          <div>
          <h3 class="quote">
            “Devemos entender que culturalmente, nas áreas técnicas, bloqueamos mulheres e exaltamos homens, isso precisa ser mudado”
          </h3>
          </div>
          <div>
          <button href="/inpiration-bits"> Inspiration Bits</button>
          </div>
        </div>

        <div class="ContentContainer">
          <div class="Content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien est, cursus a pretium eget, rutrum ac ipsum. Aliquam convallis nulla velit. Donec et ligula ex. Pellentesque condimentum velit eget mi tempus, sed vehicula urna venenatis. Aliquam urna neque, malesuada at mi viverra, congue rutrum ipsum. Nullam pulvinar, tellus et luctus tincidunt, ipsum ligula vestibulum eros, quis malesuada sem justo ac tortor. Donec velit enim, dictum vitae justo vel, sagittis ultrices arcu. Praesent sit amet tortor in dolor hendrerit facilisis lobortis condimentum orci.

            Quisque ultricies volutpat felis sed feugiat. Vivamus auctor nibh in libero porta, ultrices placerat purus placerat. Sed id nisi in urna aliquet egestas ut sit amet lorem. Aliquam erat volutpat. Duis gravida tempus sapien, a venenatis ipsum. Vivamus pharetra mattis lorem in scelerisque. Curabitur maximus, elit non imperdiet placerat, lectus ante cursus tellus, sit amet porttitor tellus metus id dui.
            </p>
            </div>
            </div>

      
</section>

