<section class="MainContainer">
  <div class="ParallaxContainer">
    <div>
      <h2 class="quote">
        “Devemos entender que culturalmente, nas áreas técnicas, bloqueamos mulheres e exaltamos homens, isso precisa
        ser mudado”
      </h2>
    </div>
    <div>

      <a href="/inpiration-bits"><button class="btnB btn_style">Inspiration Bits</button></a>
    </div>
  </div>

  <div class="ContentContainer-inspirations">
    <div class="Content-inspirations row">
      <div class="info-inspirations col-sm-4">
        <div class="icon-img">
          <img src="images/ada-lovelace-icon.png">
        </div>
        <div class="icon-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien est, cursus a pretium eget, rutrum ac
            ipsum. Aliquam convallis nulla velit. Donec et ligula ex. Pellentesque condimentum velit eget mi tempus, sed
            vehicula urna venenatis.
          </p>
        </div>
      </div>

      <div class="info-inspirations col-sm-4">
        <div class="icon-img">
          <img src="images/grace-hopper.png">
        </div>
        <div class="icon-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien est, cursus a pretium eget, rutrum
            ac ipsum. Aliquam convallis nulla velit. Donec et ligula ex. Pellentesque condimentum velit eget mi
            tempus, sed vehicula urna venenatis.
          </p>
        </div>
      </div>

      <div class="info-inspirations  col-sm-4">
        <div class="icon-img">
          <img src="images/marie-curie.png">
        </div>
        <div class="icon-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien est, cursus a pretium eget,
            rutrum ac ipsum. Aliquam convallis nulla velit. Donec et ligula ex. Pellentesque condimentum velit
            eget mi tempus, sed vehicula urna venenatis.
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="ContentContainer-yesSheCan ">
    <h2> <a class="title-yesSheCan" href="yes-she-can"> Yes, she can! </a></h2>

    <div class="Content-yes">

      <div class="card-yes col-sm-3">
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Imagem de capa do card">
        <div class="card-body">
          <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo
            do card.</p>
        </div>
      </div>

      <div class="card-yes col-sm-3">
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Imagem de capa do card">
        <div class="card-body">
          <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo
            do card.</p>
        </div>
      </div>

      <div class="card-yes col-sm-3">
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Imagem de capa do card">
        <div class="card-body">
          <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo
            do card.</p>
        </div>
      </div>

      <div class="card-yes col-sm-3">
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Imagem de capa do card">
        <div class="card-body">
          <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo
            do card.</p>
        </div>
      </div>



    </div>
  </div>

  <div class="ContentContainer-linking">
    <h2> <a class="title-linking" href="linking-women"> Linking women </a></h2>
    <div class="content-linking">
      <div class="card-linking col-sm-4">
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Imagem de capa do card">
        <div class="card-body">
          <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo
            do card.</p>
        </div>
      </div>

      <div class="card-linking col-sm-4">
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Imagem de capa do card">
        <div class="card-body">
          <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo
            do card.</p>
        </div>
      </div>

      <div class="card-linking col-sm-4">
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Imagem de capa do card">
        <div class="card-body">
          <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo
            do card.</p>
        </div>
      </div>

    </div>
  </div>
</section>