<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css" />

  <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/images/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="manifest" href="/images/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  {{!-- NavBar --}}
  <nav class="navbar-expand-lg navbar-light bg-light col-sm">
    <div class="navbarInfo">
      <div>
        <a class="navbar-brand" href="/">
          <img src="/images/logo-xx-tech.png" height="70px" width="170px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="infos collapse navbar-collapse " id="navbarNav">
        <ul class=" navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about-us">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/inspiration-bits">Inspiration Bits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/yes-she-can">Yes, she can!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/linking-women">Linking Women</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#gif">Girl In Formation</a>
          </li>
          {{#unless user}}
          <li class="nav-item">
            <div class="text-center">
              <a href="" class="btn auth" data-toggle="modal" data-target="#elegantModalForm">Login</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="text-center">
              <a href="" class="btn auth" data-toggle="modal" data-target="#modalRegisterForm">Sign up</a>
            </div>
          </li>
          {{/unless}}
          {{#if user}}
          <li class="nav-item">
            <a class="btn auth" href='user/logout'>Logout</a>
          </li>
          {{/if}}


        </ul>
      </div>
    </div>
  </nav>
  {{!-- End NavBar --}}
  <div class="logger">

    {{!-- //APENAS USER TEM ACESSO --}}
    {{#if user}}
    {{#if ola}}
    {{ola}},
    {{/if}}
    {{user.username}}
    {{/if}}
    {{#if isUser}}
    <a href="user/commit" class="btnAuth">Commit to us</a>
    {{/if}}

    {{!-- //APENAS ADM TEM ACESSO --}}
    {{#if isAdm}}
    <a href="adm/pull" class="btnAuth">Check pull</a>
    {{/if}}
  </div>
  {{!-- Login modal --}}
  <div class="modal fade" id="elegantModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content form-elegant">
        <div class="modal-header text-center">
          <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Login</strong>
          </h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!--Body-->
        <div class="modal-body mx-4">
          <!--Body-->
          <form action='/login' method="POST">
            <div class="md-form mb-5">
              <input id="Form-login" class="form-control" name="username">
              <label data-error="wrong" data-success="right" for="Form-login">Your username</label>
            </div>

            <div class="md-form pb-3">
              <input type="password" id="Form-pass1" class="form-control" name="password">
              <label data-error="wrong" data-success="right" for="Form-pass1">Your password</label>
            </div>

            <div class="text-center mb-3">
              <button type="submit" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Login</button>
            </div>
          </form>

          <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2"> or Login with:</p>

          <div class="row my-3 d-flex justify-content-center">
            <!--Github-->
            <a href='/auth/github'>
              <button type="button" href='/auth/github' class="btn btn-white btn-rounded mr-md-3 z-depth-1a icon"><img
                  src="/images/github-icon.png" class="fab text-center" width="20px"></i></button></a>
            {{!-- <!--Twitter-->
          <button type="button" class="btn btn-white btn-rounded mr-md-3 z-depth-1a"><i
              class="fab fa-twitter"></i></button>
          <!--Google +-->
          <button type="button" class="btn btn-white btn-rounded z-depth-1a"><i
              class="fab fa-google-plus-g"></i></button> --}}
          </div>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
  <!-- End Modal Login -->


  {{!-- Sign up modal --}}
  <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content form-elegant">
        <div class="modal-header text-center">
          <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Sign up</strong>
          </h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!--Body-->
        <div class="modal-body mx-4">
          <!--Body-->
          <form action='/signup' method="POST">
            <div class="md-form mb-5">
              <input id="Form-logiN" class="form-control" name="username" required>
              <label data-error="wrong" data-success="right" for="Form-login">Your username</label>
            </div>

            <div class="md-form mb-5">
              <input type="email" id="Form-email1" class="form-control validate" name="email" required>
              <label data-error="wrong" data-success="right" for="Form-email1">Your email</label>
            </div>

            <div class="md-form pb-3">
              <input type="password" id="Form-pass2" class="form-control validate" name="password" required>
              <label data-error="wrong" data-success="right" for="Form-pass1">Your password</label>
            </div>

            <div class="text-center mb-3">
              <button type="submit" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Sign up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal SignUp -->

  {{{body}}}


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>