<h2>EDIT COMMIT</h2>
<form action="/user/{{commit._id}}" method="post">
  <label for="">Url: </label>
  <input type="text" name="url" value="{{commit.url}}">
  Category - {{commit.category}}
  <br>
  <input type='radio' name='category' value='yes' checked>Yes, she can!
  <input type='radio' name='category' value='bits'> Inspiration Bits

  <label for="">Description:</label>
  <input type="text" name="description" value="{{commit.description}}">
  

  <button type="submit">EDIT</button>
</form>