<div class="edit-commit">
  <h3>Editar Commit</h3>
  <form action="/user/{{commit._id}}" method="post">
    Categoria do post: {{commit.category}}
    <br><br>
    <input type='radio' name='category' value='yes' checked>Yes, she can! &nbsp
    <input type='radio' name='category' value='bits'> Inspiration Bits &nbsp
    <input type='radio' name='category' value='linking'> Linking Women
    <br><br>
    <label for="">Título:</label>
    <input data="commit" size='70' type="text" name="description" value="{{commit.description}}">
    <br><br>
    <label for="">URL: </label>
    <input data="commit" size='70' type="text" name="url" value="{{commit.url}}">
    <br><br>

    <a class="btn-post-adm" href="/user/commit"> <img src="/images/cancel.png" width="30px"></a>
    <button class="btn-post-adm" type="submit"><img src="/images/checked.png" width="30px"></button>
  </form>
</div>