<h5>EDIT COMMIT</h5>
<form action="/adm/{{commit._id}}" method="post">
  <label for="">Url: </label>
  <input type="text" name="url" value="{{commit.url}}">
  Category - {{commit.category}}
  <br>
  <input type='radio' name='category' value='yes' checked>Yes, she can!
  <input type='radio' name='category' value='bits'> Inspiration Bits

  <label for="">Description:</label>
  <input type="text" name="description" value="{{commit.description}}">

  <label>Poster:</label>
  <input type="file" name="photo">

  <button type="submit">EDIT</button>
</form>