<h5>EDIT COMMIT</h5>
<form action="/adm/{{commit._id}}/post" method="post">
  <label for="">Url: </label>
  <input type="text" name="url" value="{{commit.url}}">

  <label for="">Description:</label>
  <input type="text" name="description" value="{{commit.description}}">

  <label>Poster:</label>
  <input type="file" name="photo">

  <button type="submit">POST yes, she can</button>
</form>