<section>
  <div class="quem-somos">
    {{!-- <h2> Quem somos </h2> --}}
    <div>
      <img src="/images/quem-somos.png" alt="" height="50px">
    </div>
    <div class="about-info">
      <p>A <span class="destaque-about-info">XX-Tech</span> acredita que trabalhar nas áreas de tecnologia é, sim, coisa
        de mulher e, para
        colaborar com o aumento
        de
        mulheres trabalhando com tecnologia e encorajar as meninas e mulheres a trabalhar nessa área, criamos esse canal
        que
        <span class="destaque-about-info">reune diversas informações sobre mulheres e tecnologia</span>.</p>
      {{!-- <h1 class="textAbout">Hello</h1> --}}
    </div>
  </div>

  <div class="cenario-atual">
    {{!-- <h2> Quem somos </h2> --}}
    <div class="about-info">
      <div>
        <p>Uma pesquisa realizada pelo Todos pela Educação (2015) revelou que <span class="destaque-about-info">a
            diferença de desempenho em Matemática
            entre
            meninos e meninas</span>, no ensino Fundamental é de só 1,8 ponto
          percentual, porém, no <span class="destaque-about-info">Ensino Médio, ela
            aumenta
            para
            5,2 pontos e, apesar de abandonarem menos a escola e terem médias melhores, há um desequilíbrio ao longo da
            jornada escolar </span> das meninas que a fazem piorar o desempenho em disciplinas como matemática. <span
            class="destaque-about-info">Esse
            desequilíbrio
            tem
            forte relação com o discriminações, explícitas ou não, que reforçam esteriótipos e desistimulam e
            afastam as
            meninas das ciências exatas.</span></p>

        <p>Há uma desigualdade de gênero nas carreiras de ciências exatas e tecnologia. <span
            class="destaque-about-info">Dados da ONU Mulheres apontam
            que, no
            mundo, apenas 18% dos títulos de graduação em Ciência da Computação são de mulheres</span>, que representam
          25% da
          força
          de trabalho da indústria digital.</p>

        <p><span class="destaque-about-info">No Brasil, apenas 20% </span> dos mais de 580 mil profissionais de TI que
          atuam no país <span class="destaque-about-info">são mulheres</span>, segundo a PNAD/IBGE 2016
          (Pesquisa Nacional por Amostra de Domicílio do Instituto Brasileiro de Geografia e Estatística), menor do que
          a
          estatística mundial. Além disso a pesquisa revela que<span class="destaque-about-info"> 34% dessas mulheres
            ganham menos que os homens e 51%
            disseram
            já ter sofrido discriminação no ambiente de trabalho por conta do gênero!</span> </p>
      </div>
    </div>
    <div>
      <img src="/images/cenario-atual.png" alt="" height="50px">
    </div>
  </div>

  <div class="quem-somos">
    <div>
      <img src="/images/que-queremos.png" alt="" height="50px">
    </div>
    <div class="about-info">
      <p>
        <span class="destaque-about-info">Mudar o cenário atual!</span>
        <br>
        <span class="destaque-about-info">Criar um ambiente de acolhimento e fortalecimento para meninas e mulheres
        </span>que estão trabalhando ou querem
        trabalhar com tecnologia. Para isso,<span class="destaque-about-info"> contamos com a colaboração de
          todxs </span> que sabem que a força de trabalho feminina á muito
        valiosa na área da tecnologia.</p>
    </div>
  </div>

  <div class="cenario-atual">
    <div class="about-info">
      <div>
        <ul>
          <li>
            <span class="destaque-about-info">Indicando nossa iniciativa para outras pessoas </span> e indicando
            conteúdo para
            nosso site.
          </li>
          <li>
            <span class="destaque-about-info"> Enviando material que fale sobre o tema.</span>
          </li>
          <li>
            <span class="destaque-about-info">Fazendo uma auto análise </span> para ver se, consicente ou
            inconscientemente, você também é um propagador de ideias
            machistas sobre a participação de mulheres em atividades vinculadas às áreas exatas e da tecnologia <span
              class="destaque-about-info"> e
              mudando de
              postura sobre o tema.</span>
          </li>
        </ul>
        Após se cadastrar no nosso site através do Sign Up, você pode contribuir indicando conteúdo para o portal. Para isso, basta:
        <ul class="destaque-about-info">
          <li>Fazer o Login</li>
          <li>Clicar no botao "commit to us" </li>
          <li>Adicionar o link da notícia que deseja compartilhar com o título da matéria. </li>
        </ul>
        <p>Nossa equipe irá ler e adicionar a notícia ao portal. Enquanto a postagem não estiver online, você pode
          editar como quiser a sua postagem.</p>
      </div>
    </div>
    <div>
      <img src="/images/como-colaborar.png" alt="" height="100px">
    </div>
  </div>
</section>